*{
	box-sizing: border-box;
}

body{
	background-color: hsl(233, 47%, 7%);
	font-family: 'Lexend Deca', sans-serif;
}

.card-component{
	
	display: flex;
  align-items: center;
  justify-content: center;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;


}
.left-side{
	background-color: hsl(244, 38%, 16%);
	color: white;
	padding: 50px;
	text-align: left;

}
.left-side h1{
	color: hsla(0, 0%, 100%, 0.6);
	margin-top: 30px;
    line-height: 1;
    font-size: 2.25rem;
    letter-spacing: 1px;
}
.left-side .top h1 span{
	color: hsl(277, 64%, 61%);
}

 .card-text{
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.8;
    letter-spacing: 0.6px;

}
.bottom{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 35px;
	
}
.bottom-info{
	text-align: left;
}
.bottom-info h3{
	margin: 0 0 5px;
}
.bottom-info p{
	    font-family: Lexend Deca;
	    font-weight: 400;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.over-lay{
	background-color: hsla(277, 64%, 61%, 0.4);
	height: 446px;
	width: 540px;
	z-index: 22;
	position: fixed;
	right: 133px;
}


